/app/build/
/webapp/build/
/token.txt
/webapp/node_modules/
.gradle/
.idea/
app/release/
build/
webapp/.browserslistrc
webapp/.editorconfig
webapp/.env
webapp/.eslintrc.js

/app/src/main/assets/website/js/app.8359b93d.js.map
/app/src/main/assets/website/js/app.8359b93d.js
/webapp/dist/js/app.8359b93d.js
/webapp/dist/js/app.8359b93d.js.map
