<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lushtech.eldercare.movinet">

    <uses-permission android:name="com.securityandsafetythings.permission.WEBSERVER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.securityandsafetythings.permission.VIDEO"/>

    <application
        android:name="com.lushtech.eldercare.movinet.ElderCareApplication"
        android:allowBackup="true"
        android:label="${applicationLabel}"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="com.securityandsafetythings.apis.v4"
            android:required="true" />

        <service
            android:name="com.lushtech.eldercare.movinet.services.MainService"
            android:permission="com.securityandsafetythings.permission.START_SOLUTION">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.securityandsafetythings.intent.category.SOLUTION" />
            </intent-filter>
        </service>
    </application>

</manifest>

